In [2]:
a=10
print(type(a))
print(id(a))

<class 'int'>
133716738785808

In [4]:
num=a
print(id(num))
num=20
print(id(num))

133716738785808
133716738786128

In [8]:
a=500
x=500
print(id(a), id(x))
print( a is x)
print(a==x)

133716306841712 133716306841616
False
True

In [6]:
n=5
for i in range(n):
  for j in range(i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [92]:
n=4
for i in range(n):
  for j in range(n):
    print(i+1,end=" ")
  print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [84]:
n=4
for i in range(n):
  p=1
  for j in range(i,n):
    print(p,end=" ")
    p+=1
  print()

1 2 3 4
1 2 3
1 2
1

In [30]:
n=5
for i in range(n):
  for j in range(i+1):
    print("1",end=" ")
  print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [74]:
n=4

for i in range(n):
  p=10
  for j in range(n):
    print(p,end=" ")
    p+=1
  print()

10 11 12 13
10 11 12 13
10 11 12 13
10 11 12 13

In [41]:
n=4
for i in range(n):
  for j in range(i,n):
    print("*",end=" ")
  print()

* * * *
* * *
* *
*

In [71]:
n=4
p=4
for i in range(n):
  for j in range(i,n):
    print(p,end=" ")
  p-=1
  print()

4 4 4 4
3 3 3
2 2
1

In [67]:
n=4
for i in range(n):
  p=1
  for j in range(i,n):
    print(p,end=" ")
    p+=1
  print()

1 2 3 4
1 2 3
1 2
1

In [62]:
n=4

for i in range(n):
  p=7
  for j in range(i,n):
    print(p,end=" ")
    p+=1
  print()

7 8 9 10
7 8 9
7 8
7

In [69]:
n=4
p=65
for i in range(n):
  for j in range(i,n):
    print(chr(p),end=" ")
    p+=1
  print()

A B C D
E F G
H I
J

In [100]:
n=4

for i in range(n):
  p=65
  for j in range(i,n):
    print(chr(p),end=" ")
    p+=1
  print()

A B C D
A B C
A B
A

In [104]:
n=4
p=20
for i in range(n-1):
  for j in range(i,n):
    print(p,end=" ")
    p+=1
  print()

20 21 22 23
24 25 26
27 28

In [106]:
n=4
p=68
for i in range(n):
  for j in range(i+1):
    print(chr(p),end=" ")
    p+=1
  print()

D
E F
G H I
J K L M

In [117]:
n=4
p=90
for i in range(n):
  for j in range(i,n):
    print(chr(p),end=" ")
  p-=1
  print()

Z Z Z Z
Y Y Y
X X
W

In [120]:
n=3
p=4
for i in range(n):
  for j in range(i+1):
    print(p,end=" ")
    p+=2
  print()

4
6 8
10 12 14

In [137]:
n=4
p=2
for i in range(n-1):
  for j in range(i,n):
    print(p,end=" ")
    p*=2
  print()

2 4 8 16
32 64 128
256 512

In [150]:
n=4
for i in range(n-1):
  for j in range(i+1):
    print("*",end=" ")
  print()

for i in range(n):
  for j in range(i,n):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * *
* *
*

In [154]:
n=5
for i in range(n-1):
  for j in range(i+1):
    print(" ",end=" ")
  for j in range(i,n):
    print("*",end=" ")
  print()

n=5
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    print("*",end=" ")
  print()

  * * * * *
    * * * *
      * * *
        * *
          *
        * *
      * * *
    * * * *
  * * * * *